#serve{
    border: solid;
    border-radius: 15px;
    border-color: white;
   
    padding: 20px;
    font-size: larger;
}

#servetext{
    text-align: center;
}

#skillStudy{
    border: solid;
    border-radius: 15px;
    border-color: white;
   
    padding: 20px;
    font-size: larger;
}
#sstext{
    text-align: center;
}
#rps{
    border: solid;
    border-radius: 15px;
    border-color: white;
   justify-content: center;
    padding: 20px;
    font-size: larger;
}

#rpstext{
    text-align: center;
}

body{
    background-color: black;
    color: white;
    margin-bottom: 150px;
}


.tabs{
    display: flex;
    background-color: black;
    color: white;
    font-size: 125%;
   
    
}

.navTab {
  
    margin-right: auto;
    margin-left: auto;
}
a {
    color: whitesmoke;
}
a:visited {
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    
    background-color:whitesmoke;
    color: black;
    font-size: larger;
}

#amImg{
    border: solid;
    border-radius: 1000px;
    position: absolute;
    left: 25px;
    top: 25%;
    width: 25%;
    height: inherit;
 
   
    
}
#skyline{
    position: relative;
    width: 100%;
}
#amText{
     
    left: 15px;
    font-size: 35px;
 
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    
    padding: 20px;
  }

.footer{
    position: fixed;
    bottom: 0;
    color: grey;
    width: 100vw;
}